<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="staticProteccion">Protección</label>
          <input type="text" class="form-control" id="staticProteccion" readonly>
        </div>
        <div class="form-group col-md-3">
          <label for="staticVuelo">Vuelo</label>
          <input type="text" class="form-control" id="staticVuelo" readonly>
        </div>
        <div class="form-group col-md-3">
          <label for="staticEstado">Estado</label>
          <input type="text" class="form-control" id="staticEstado" readonly>
        </div>
        <div class="form-group col-md-3">
          <label for="staticCanalNotificacion">Canal de notificación</label>
          <input type="text" class="form-control" id="staticCanalNotificacion" readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="staticCantidadVueltas">Cantidad de vueltas</label>
          <input type="text" class="form-control" id="staticCantidadVueltas" readonly>
        </div>
        <div class="form-group col-md-3">
          <label for="staticHoraFechaCargue">Hora/fecha de cargue</label>
          <input type="text" class="form-control" id="staticHoraFechaCargue" readonly>
        </div>
        <div class="form-group col-md-3">
          <label for="staticHoraFechaNotificación">Hora/fecha de notificación</label>
          <input type="text" class="form-control" id="staticHoraFechaNotificación" readonly>
        </div>
        <div class="form-group col-md-3">
          <label for="staticMotivoAfectación">Motivo afectación</label>
          <input type="text" class="form-control" id="staticMotivoAfectación" readonly>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="staticCantidadClientes">Cantidad clientes</label>
          <input type="text" class="form-control" id="staticCantidadClientes" readonly>
        </div>
        <div class="form-group col-md-6">
          <label for="staticNombreAsesorNotifico">Nombre de asesor que notifico</label>
          <input type="text" class="form-control" id="staticNombreAsesorNotifico" readonly>
        </div>
        <div class="form-group col-md-2">
          <label for="staticSR">SR</label>
          <input type="text" class="form-control" id="staticSR" readonly>
        </div>
        <div class="form-group col-md-2">
          <label for="staticFF">FF</label>
          <input type="text" class="form-control" id="staticFF" readonly>
        </div>
      </div>
    </div>
  </div>
</div>
