<div class="card animated fadeIn fast">
  <div class="card-body">
    <div class="form-row">
      <div class="col-md-3">
        <form class="form-inline" (ngSubmit)="get_Search()">
          <div class="input-group ">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"><strong>PNR a notificar</strong></span>
            </div>
            <input type="search" class="form-control text-uppercase {{isValidPNR}}" aria-describedby="inputGroup-sizing-default" [(ngModel)]="pnr" name="pnr" maxlength="6" placeholder="PNR">

            <div class="input-group-append">
              <button class="btn btn-secondary" id="btnSearch">Buscar</button>
            </div>
            <div class="invalid-feedback">
              El campo PNR es requerido
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3">
        <div class="input-group ">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"><strong>Motivo afectación</strong></span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="description" name="description" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group ">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"><strong>Ya fue notificada?</strong></span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="notified" name="notified" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group ">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"><strong>Fecha Notificación</strong></span>
          </div>
          <input type="text" class="form-control" value="{{ notifiedDate | date:'dd/MM/yyyy, h:mm a' }}" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" disabled />
        </div>
      </div>
    </div>
  </div>
  <app-call (emitHeader)="getHeader($event)" [optionView]="false" #paramPNR></app-call>
  <br />
</div>

