<form (ngSubmit)="login()" #forma="ngForm">
  <div class="row">
    <div class="col-md-3 mx-auto" style="margin-top:40px">
      <div class="card bg-light">
        <div class="card-header text-center">
          Login
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="email">Site</label>
            <select class="form-control" id="site" *ngIf="flagSite">
              <option *ngFor="let site of objSite" [value]="site.site_Id">{{ site.description }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="user">User Name</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': (username.errors?.required) && username.touched}" id="user" placeholder="User Name" [(ngModel)]="user" name="user" required #username="ngModel">
            <div class="invalid-feedback" *ngIf="username.errors?.required">
              El campo User Name es requerido
            </div>
          </div>
          <div class="form-group">
            <label for="email">Password</label>
            <input type="password" class="form-control" [ngClass]="{'is-invalid': (pass.errors?.required) && pass.touched}" id="password" placeholder="Password" [(ngModel)]="password" name="password" required #pass="ngModel">
            <div class="invalid-feedback" *ngIf="pass.errors?.required">
              El campo Password es requerido
            </div>
          </div>
          <button type="submit" class="btn btn-danger" [disabled]="!(forma.valid && flagSite)">Login</button>
          <div class="row text-center">
            <div class="col">
              <p-progressSpinner *ngIf="loading" class="text-center"></p-progressSpinner>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

